<div class="container">

  <div class="card card-form col-md-8 mt-4" *ngIf="token === null">
    <div class="card-body">
      <h5 class="card-title">Something is not right!</h5>
      <p class="card-text">
        It looks like you're trying to reset your password without using the link from the email... Either click the
        link in the email or request a new link in the app!
      </p>
      <a routerLink="/" class="btn btn-primary">Go home</a>
    </div>
  </div>

  <div class="card card-form col-md-8 mt-4" *ngIf="success">
      <div class="card-body">
        <h5 class="card-title">Your password has been reset!</h5>
        <p class="card-text">
          All done!
        </p>
        <a routerLink="/" class="btn btn-primary">Go home</a>
      </div>
    </div>

  <div class="card card-form col-md-8 mt-4" *ngIf="token !== null && !success">
    <div class="card-body">
      <h5 class="card-title">Reset your password!</h5>
      <p class="card-text">
        Use this form to set a new password. Make sure to pick a strong password! Passwords are judged by how difficult
        they are to break! (Not by how hard they are to remember.)
      </p>
      <p class="card-text password-hint">
        Hint: Just put a few words together, e.g. <span class="badge badge-success">brickedCoconutCheesecake</span> and
        <span class="badge badge-success">42isgreaterthan9</span> are good passwords. But don't use those specifically
        because I just showed them to you.
      </p>
      <p class="card-text password-hint">
        Examples of bad passwords: <span class="badge badge-danger">P@ssw0rd1!</span> and <span
          class="badge badge-danger">hunter2</span>
      </p>

      <form (submit)="submit()">
        <fieldset [disabled]="loading">
          <div class="form-group">
            <label class="sr-only" for="password1">Password</label>
            <input name="password1" [(ngModel)]="password1" type="password" class="form-control" id="password1"
              placeholder="A new password">
            <span class="form-text text-danger" *ngIf="passwordTooWeak">Your password isn't strong enough.</span>

          </div>
          <div class="form-group">
            <label class="sr-only" for="password2">Repeat</label>
            <input name="password2" [(ngModel)]="password2" type="password" class="form-control" id="password2"
              placeholder="Repeat please">
            <span class="form-text text-danger" *ngIf="passwordsMismatch">The passwords don't match.</span>
          </div>

          <button type="submit" class="btn btn-primary">Reset password</button> <span class="spinner" *ngIf="loading"></span>
          <span *ngIf="tokenUsed" class="form-text text-danger">Looks like this reset link has already been used! Please go to the app to
            request a new password reset link, or contact support.</span>

            <span *ngIf="unknownError" class="form-text text-danger">Something went wrong. Please try again later or contact support!</span>
        </fieldset>
      </form>
    </div>
  </div>

</div>