@import '../../../styles/styles';

.guidelines {
  font-size: 2rem;
  padding-bottom: 3em;
  padding-top: 3em;

  h1 {
    padding-bottom: 2em;
    font-weight: 600;
    
    &::after {
      content: ' ';
      border-bottom: 2px solid $primary;
      width: 30%;
      display: block;
      height: 1em;
    }
  }

  .text {
    font-size: 1.2rem;
    line-height: 2;
    padding-left: 2em;
    color: $gray-600;
  }
}

.faq {
  text-align: center;
  background-color: $purple;
  color: $light;
  padding-top: 10em;
  padding-bottom: 10em;

  a {
    color: $blue;
  }

  p {
    line-height: 1.5em;
    margin-bottom: 3em;
  }

  h1 {
    font-weight: 600;
    margin-bottom: 1em;

    &::after {
      content: ' ';
      margin: auto;
      border-bottom: 2px solid $secondary;
      width: 3em;

      display: block;
      height: 1em;
    }
  }
  p {
    font-size: 1.2rem;
  }
}