<section class="guidelines">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>A friendly guide to posting on Cirquel</h1>
        <img src="/assets/svg/silk-logo.svg">
      </div>
      <div class="col-md text">
        <p>
          Cirquel is a community of like minded people interested in various cirque-releated activities. We want to keep
          the community friendly and open to everyone. We also want as big of a library as we can get, because the more
          tricks and routines we have, the better we will be able to help each other become stronger and better!
        </p>
        <p>
          Currently we welcome stuff for: Aerial silks (rope and chain are also good), Pole, Hoops, Trapeze, Acro
          Balance/Yoga and Calisthenics.
        </p>
        <p>
          The app has the option to vote for names so that, as a community, we can agree on what a trick should be
          called. So feel free to make up a name if you don't know the name of your trick.
        </p>
        <p>
          If you can, take pictures and videos with decent light, but you're free to post whatever quality you're able
          to take.
        </p>
        <p>
          Videos can be a maximum of 1:30 minutes at the moment. This may increase over time, if necessary.
        </p>
        <p>
          You are free to post pictures and videos of other people than yourself, however make sure you do have their
          consent. All uploaded items will be public, so respect peoples privacy.
        </p>
        <p>
          If you see anything that isn't right, you are encouraged to report it with the "Report" button in the app!
        </p>
      </div>
    </div>
  </div>
</section>

<section class="faq" #faq>
  <div class="container">
    <h1>Frequently Asked Questions</h1>
    <p>
      <strong>
        "I'm not a professional, can I post tricks?"
        <br>
      </strong>
      Yes, absolutely! You don't have to be a professional to post. You don't have to be perfect. If you would consider
      to post the video or picture to any social media, it's good for Cirquel.
    </p>

    <p>
      <strong>
        "I don't know the name of this trick, what do I do?"
        <br>
      </strong>
      Just make it up! There are no wrong answers. The power of cirquel is that all names are voteable, so if a user
      thinks of a better name, they can add it. And if others agree, they can vote for it. In the end we will either get
      the proper name, or the world will agree that your made up name was better!
    </p>
    <p>
      <strong>
        "The trick I want to post already exists on Cirquel!"
        <br>
      </strong>
      Great! Upload yours too! The more the merrier!
    </p>
    <p>
      <strong>
        "Can I upload my entire routine, rather than just one trick?"
        <br>
      </strong>
      Assuming I didn't forget to to update this text: Currently no. This will definitely be available in a future
      version. You would be able to upload your routine and tag different tricks in it.
    </p>
    <p>
      <strong>
        "Can I upload multiple pictures at once?"
        <br>
      </strong>
      Currently, no. If this is something more people will ask for, I will consider implementing it. If this is
      something you want, <a href="javascript:void(0)" (click)="send()">let us know!</a>
    </p>
    <p>
      <strong>
        "Can I message other users?"
        <br>
      </strong>
      At the moment, no. This will be added in the future. If you want this, <a href="javascript:void(0)"
        (click)="send()">let us know!</a>
    </p>
    <p>
      <strong>
        "I'm missing some feature ..."
        <br>
      </strong>
      If there's anything you're missing, <a href="javascript:void(0)" (click)="send()">let us know!</a> The app will be
      shaped, based on what the users want. So, don't be
      shy, and drop us a line!
    </p>
  </div>
</section>

<app-footer></app-footer>