<app-loader *ngIf="state == 'loading'"></app-loader>

<div class="card" *ngIf="state === 'idle'">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-auto text-center m-2">
        <div class="author-avatar" [appBgImage]="author?.imgBase | image : 'lg'" ></div>
        <h3>{{author?.userName}}</h3>
        <p>Tricks: <span class="badge badge-primary">{{author.contribCount}}</span></p>
        
        <h4 class="mt-4">Download Cirquel</h4>
        <app-download-cta vertical="true"></app-download-cta>
      </div>
      <div class="col">

        <div class="card-container row row-eq-height" *ngIf="items">
          <app-item-card [showCta]="false" *ngFor="let i of items" [item]="i" class="flex col-lg-6 p-2"></app-item-card>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="d-block message-card" *ngIf="state === 'error'">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">We can't find that user!</h3>
      <p class="card-text">We can't find what you were looking for. Best just donwload the app!</p>
      <app-download-cta></app-download-cta>
    </div>
  </div>
</div>