.author-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: url('/assets/img/blank_avatar_md.jpg');  
}