@import '../styles/styles';

header {
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.6em; 

  .logo {
    height: 44px;
  }

}

.container {
  padding-left: 0;
  padding-right: 0;
}

.btn-nav {
  padding: .5rem .8rem;
}

.nav-promo {
  border: 1px solid $white;
  border-radius: 4px;
  transition: background-color ease .3s;

  &:hover {
    background-color: $warning;
    border-color: $warning;
  }
}