<!-- <app-background></app-background> -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container">
      <a class="navbar-brand" href="https://cirquelapp.com"> <img src="assets/svg/silk-logo.svg" class="logo mr-2">
        Cirquel</a>
      <div class="collapse navbar-collapse" [collapse]="collapsed">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">About</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Posting Guidelines</a></li>
          <li class="nav-item">
            <button class="btn btn-nav btn-primary" (click)="openModal()">Download App</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Begin page content -->
<main role="main" class="position-relative">
  <router-outlet></router-outlet>
</main>