header {
  font-family: 'Montserrat', sans-serif;
}

.nav-item {
  font-weight: 600;
}

.navbar-brand {
  font-size: 1.6em; 

  .logo {
    height: 44px;
  }

}

.container {
  padding-left: 0;
  padding-right: 0;
}

.btn-nav {
  padding: .5rem .8rem;
}