.navbar-brand {
  font-size: 1.6em; 

  .logo {
    height: 44px;
    //margin-right: 12px;
  }

}

.container {
  padding-left: 0;
  padding-right: 0;
}

.modal-logo {
  height: 250px;  
  padding: 20px;
}