@import '../../../styles/styles';

.intro {
  background-image: url('../../../assets/img/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  position: relative;

  color: #fff;

  @include media-breakpoint-up(lg) { 
    height: 650px;
    margin-bottom: 150px;

    .intro-left {
      text-align: left;
      h1 {
        font-weight: 600;
        font-size: 3rem;
        margin-bottom: 1em;
      }
    }
  }
}

.btn-white {
  border-color: #fff;
  color: #fff;
  font-weight: 600;

  &:hover {
    border-color: $purple;
  }
}

.intro-left {
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 1em;
  }
}

.intro-right {
  text-align: center;

  img {
    max-height: 800px;
    max-width: 76%;
  }
}

.about {
  font-size: 2rem;
  padding-bottom: 3em;
  padding-top: 3em;

  .logo {
    max-width: 60%;
    margin: auto;
    display: block;
  }

  h1 {
    padding-bottom: 2em;
    font-weight: 600;
    
    &::after {
      content: ' ';
      border-bottom: 2px solid $primary;
      width: 30%;
      display: block;
      height: 1em;
    }
  }

  .text {
    font-size: 1.2rem;
    line-height: 2;
    padding-left: 2em;
    color: $gray-600;
  }

  @include media-breakpoint-up(md) { 
    .logo {
      max-width: 90%;
    }
  }
}

.shirts {
  font-size: 2rem;
  padding-bottom: 3em;
  padding-top: 3em;

  .shirts-image {
    max-width: 100%;
    margin: auto;
    display: block;
  }

  h1 {
    padding-bottom: 2em;
    font-weight: 600;
    
    &::after {
      content: ' ';
      border-bottom: 2px solid $primary;
      width: 30%;
      display: block;
      height: 1em;
    }
  }

  .text {
    font-size: 1.2rem;
    line-height: 2;
    padding-left: 2em;
    color: $gray-600;
  }

  @include media-breakpoint-up(md) { 
    .logo {
      max-width: 90%;
    }
  }
}

.download {
  position: relative;
  text-align: center;
  background-color: $purple;
  color: $light;
  padding-top: 10em;
  padding-bottom: 10em;

  h1 {
    font-weight: 600;
    margin-bottom: 1em;

    &::after {
      content: ' ';
      margin: auto;
      border-bottom: 2px solid $secondary;
      width: 3em;

      display: block;
      height: 1em;
    }
  }
  p {
    font-size: 1.2rem;
  }
}