<section class="intro pt-2">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md intro-left">
        <h1>The Crowdsourced <br>
          Circus Library. <br>
          Join the Cirquel</h1>

        <button (click)="openDownloadModal()" class="btn btn-outline-primary btn-white">Download App</button>
      </div>
      <div class="col-md intro-right">
        <img src="/assets/img/screenshot.png">
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="row align-items-top">
      <div class="col-md-4">
        <h1>What is Cirquel?</h1>
        <img src="/assets/svg/silk-logo.svg">
      </div>
      <div class="col-md text">
        <p>
          Cirquel is a free, crowdsourced and open source circus library that aims to create a common dictionary for
          all things acrobatics. Whatever your cirque preferences are, Aerial Silks, Aerial Hoops / Lyra, Trapeze, Pole
          Dancing and Acro Balance, we got you covered.
        </p>
        <p>
          Cirquel contains images and videos, along with crowdsourced information about skill requirements, strength
          requirements etc.
        </p>
        <p>
          Find tricks you love, learn them, add your own version of them, join the Cirquel!
        </p>
        <p>
          Cirquel is open-source. If you wish to contribute, we can use everything from translators, to designers to
          developers, and of course content creators! Check out the <a href="https://github.com/c00/cirquel-app">github
            repo</a> for more information on
          contributing.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mosaic">
  <app-mosaic></app-mosaic>
</section>

<section class="download">
  <div class="container">
    <h1>Download Cirquel</h1>
    <p>Join Cirquel today! It's free and open-source!</p>
    <app-download-cta></app-download-cta>
  </div>
</section>

<app-footer></app-footer>